<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="no" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="no" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="no" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="no" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="no" class=""> <!--<![endif]-->

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{title}} &middot; Holder de ord
    </title>

    <meta property="og:title"      content="{{title}} - Holder de ord" />
    <meta name="twitter:title"     content="{{title}} - Holder de ord" />

    <meta property="og:site_name"  content="{{appTitle}}" />
    <meta property="fb:app_id"     content="{{facebookAppId}}" />
    <meta property="og:type"       content="website" />
    <meta property="og:url"        content="{{absoluteUrl}}" />
    <meta property="og:image"      content="http://files.holderdeord.no/images/stortingssalen.jpg" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="http://files.holderdeord.no/images/stortingssalen.jpg">

    <meta name="description"          content="{{appDescription}}">
    <meta property="og:description"   content="{{appDescription}}">
    <meta name="twitter:description"  content="{{appDescription}}">

    <meta name="author" content="Holder de ord">
    <meta name="copyright" content="Holder de ord">
    <meta name="twitter:site" content="@holderdeord">
    <meta name="twitter:creator" content="@holderdeord">

    <meta name="keywords" content="stortinget, visualisering, politikk, politisk, språk, retorikk, debatt, argument, tale, referat, tekst" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch"/>

    {{#if settings.analytics}}<script type="text/javascript" src="/analytics.js"></script>{{/if}}
  </head>

  <body data-title="{{appTitle}}"
        data-description="{{appDescription}}"
        data-facebook-app-id="{{facebookAppId}}"
      >
    <div id="content"></div>

    <!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.0/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.0/es5-sham.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- couldn't find a nice way to load this through npm -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js"></script> -->

    <script type="text/javascript" src="/bundle.js" charset="utf-8"></script>
  </body>
</html>
