<!DOCTYPE html>
<html lang="no">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{title}} &middot; Holder de ord
    </title>

    <meta property="og:title"      content="{{title}} - Holder de ord" />
    <meta name="twitter:title"     content="{{title}} - Holder de ord" />

    <meta property="og:site_name"  content="{{appTitle}}" />
    <meta property="fb:app_id"     content="504447209668308" />
    <meta property="og:type"       content="website" />
    <meta property="og:url"        content="{{absoluteUrl}}" />
    <meta property="og:image"      content="http://files.holderdeord.no/images/stortingssalen.jpg" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="http://files.holderdeord.no/images/stortingssalen.jpg">

    <meta name="description"          content="{{appDescription}}">
    <meta property="og:description"   content="{{appDescription}}">
    <meta name="twitter:description"  content="{{appDescription}}">

    <meta name="author" content="Holder de ord">
    <meta name="twitter:site" content="@holderdeord">
    <meta name="twitter:creator" content="@holderdeord">


    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.0/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--[if lte IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch"/>
  </head>

  <body data-title="{{appTitle}}" data-description="{{appDescription}}">
    <div id="content"></div>
    <script type="text/javascript" src="/bundle.js" charset="utf-8"></script>
  </body>
</html>
